:root {
  --primary-color: #96700f;
  --secondary-color: #70550f;
  --box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  --text-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

body {
  background-image: url(http://www.transparenttextures.com/patterns/cloth-alike.png);
  background-color: #703400;
}

h1 {
  font-family: "Luxurious Roman", cursive;
  color: var(--primary-color);
  font-weight: 600;
  font-size: 78px;
  text-shadow: var(--text-shadow);
}
h2 {
  font-family: "Julius Sans One", sans-serif;
  color: var(--secondary-color);
  text-shadow: var(--text-shadow);
  font-weight: 700;
  font-size: 48px;
  margin-top: 80px;
}
p {
  font-family: "Quicksand", sans-serif;
  line-height: 1.15;
  font-size: 26px;
}

h5 {
  font-family: "Quicksand", sans-serif;
  padding: 50px 10px;
  font-size: 40px;
  text-shadow: var(--text-shadow);
}

.web-container {
  text-align: center;
  margin: 0 auto;
  padding: 160px 40px;
  background-color: #fff;
  width: 98%;
  margin-top: 1%;
  margin-bottom: 1%;
  opacity: 94%;
  border-radius: 10px;
}

.navbar {
  text-decoration: none;
  font-family: "Marcellus SC", serif;
  color: var(--primary-color);
  text-align: right;
  display: flex;
}

.content {
  text-align: center;
  margin: 0 auto;
  padding: 160px 40px;
  opacity: 99%;
}

.about-content {
  width: 98%;
  margin-top: 1%;
  margin-bottom: 1%;
}
.hero p {
  font-size: 20px;
  line-height: 1.05;
  margin-top: 30px;
}

.homepage-buttons button {
  background-color: var(--primary-color);
  color: #fff;
  font-family: "Julius Sans One", sans-serif;
  text-shadow: var(--text-shadow);
  border-radius: 10px;
  border: 2px double var(--secondary-color);
  box-shadow: var(--box-shadow);
  margin-top: 10px;
  padding: 15px 25px;
}

.homepage-buttons button:hover {
  background-color: rgba(145, 111, 71, 19%);
  color: var(--secondary-color);
  transition: all 0.4s ease-in-out;
}

.container {
  margin-top: 50px;
}

.img {
  max-width: 360px;
  max-height: 360px;
  border-radius: 10px;
}

.img-carrusel {
  height: 300px;
}

#about-macrame-carousel img button {
  max-width: 360px !important;
  max-height: 360px !important;
}
#about-macrame-carousel img:hover {
  transform: none;
}

#about-infinityknots-carousel img button {
  max-width: 360px;
  max-height: 360px;
}
#about-infinityknots-carousel img:hover {
  transform: none;
}

#about-freesoulcriss-carousel img button {
  max-width: 360px;
  max-height: 360px;
}
#about-freesoulcriss-carousel img:hover {
  transform: none;
}

img:hover {
  transform: scale(1.05);
}
.primary-link {
  background-color: var(--primary-color);
  color: white;
  font-family: "Julius Sans One", sans-serif;
  text-shadow: var(--text-shadow);
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  border: 2px double var(--secondary-color);
  margin-top: 10px;
  padding: 15px 25px;
  text-decoration: none;
}

.primary-link:hover {
  color: white;
  background-color: rgba(145, 111, 71, 19%);
  color: var(--secondary-color);
  transition: all 0.4s ease-in-out;
}

.mb-3 {
  margin: 50px;
}

.col-sm-6 {
  padding: 50px;
}

footer {
  margin-bottom: -140px !important;
  background-color: #dfdedf;
}

footer .contact-box {
  width: 75%;
  margin: 0 auto;
}

footer .contact-email {
  margin-bottom: 30px;
}

footer .order-inquiry {
  margin-top: 40px;
}
footer .email-link {
  text-decoration: none;
  color: var(--primary-color);
  padding: 20px;
  font-size: 25px;
  font-family: "Quicksand", sans-serif;
}

footer .email-link:hover {
  color: var(--secondary-color);
}

footer .social-links a {
  margin: 0 20px;
  margin-top: 40px;
  color: var(--primary-color);
  background-color: rgba(249, 247, 245, 0.4);
  padding: 10px 14px;
  font-size: 20px;
  border-radius: 50%;
}

footer .social-links a:hover {
  color: #fff;
  background-color: var(--secondary-color);
}

footer .website-info {
  color: var(--secondary-color);
  padding: 10px;
  margin-top: 20px;
  font-family: "Quicksand", sans-serif;
}
footer .website-info a {
  text-decoration: none;
  color: var(--primary-color);
}
footer .website-info a:hover {
  color: var(--secondary-color);
}

@media (max-width: 820px) {
  h1 {
    font-size: 48px;
    line-height: 1.5;
  }

  h2 {
    font-size: 32px;
    text-align: center;
  }

  p {
    font-size: 20px !important;
    text-align: center;
  }

  .project-link {
    display: block;
    text-align: center;
    margin: 0 20px;
  }

  .primary-link {
    display: block;
    text-align: center;
    margin: 0 20px;
  }

  .mb-3 {
    margin: 0;
  }

  .col-sm-6 {
    padding: 10px;
  }
}

@media (max-width: 360px) {
  h1 {
    font-size: 48px;
    line-height: 1.5;
  }

  h2 {
    font-size: 32px;
    text-align: center;
  }

  p {
    font-size: 20px !important;
    text-align: center;
  }

  .project-link {
    display: block;
    text-align: center;
    margin: 0 20px;
  }

  .primary-link {
    display: block;
    text-align: center;
    margin: 0 20px;
  }

  .mb-3 {
    margin: 0;
  }
}
